.clock-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.clock-widget.digital .clock-time {
  font-size: 2rem;
  font-weight: 800;
  color: #4a90e2;
  margin-bottom: 8px;
  font-family: 'Courier New', monospace;
}

.clock-widget.digital .clock-date {
  color: #7d8590;
  font-size: 12px;
  font-weight: 500;
}

.clock-widget.analog {
  padding: 20px;
}

.clock-face {
  width: 120px;
  height: 120px;
  border: 2px solid #4a90e2;
  border-radius: 50%;
  position: relative;
  background-color: #0d1117;
}

.clock-center {
  width: 8px;
  height: 8px;
  background-color: #4a90e2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.clock-hand {
  position: absolute;
  background-color: #e6edf3;
  transform-origin: bottom center;
  border-radius: 2px;
}

.hour-hand {
  width: 3px;
  height: 35px;
  top: 25px;
  left: 50%;
  margin-left: -1.5px;
}

.minute-hand {
  width: 2px;
  height: 45px;
  top: 15px;
  left: 50%;
  margin-left: -1px;
  background-color: #4a90e2;
}